body{margin: 0; text-align: center; padding: 0px;}
#footer{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    color: white;
    position: relative;
    background-color:black;
  }
  #FText{
    padding: 10px;
    margin:0 25% 0 25%;
    width:50%;
    height: 40px;
    font-size: xx-large;
  }
  ol {
    list-style: none;
    counter-reset: li;
  }
  li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
  }
 /* #sh{
    padding-left: 50px;
  }*/
  #logo{
    float: left;
    margin: 15px;
    width: 150px;
    height: 150px;
  }
  #header{
    background-color: grey;
    width: 100%;
    height: 200px;
    position: relative;
    padding-top: 10px;
  }
  p{
    padding-top: 10px;
  }
  #HText{
    background-color: rgb(123,192,123);
    margin: 15px;
    padding-top: 10px;
    width: 95%;
    height: 140px;
    text-align: center;
    font-size: xx-large;
  }
  #nav{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin:10px 25% 0 25%;
    text-align: center;
    max-width: 960px;
    max-height: 80px;
    background: radial-gradient(at center, rgb(209, 240, 236) 55%, #ffffff 75%);
  }
  .elem{
    vertical-align: middle;
    font-size: x-large;
    height: 50px; 
    width: 240px; 
    margin: 25px auto 0px 20px;
    float: left;
    font-family: century gothic;
    vertical-align: middle;
  }
  a:hover{color: rosybrown;}
  .menu{
    color: black; 
    text-align: center; 
    vertical-align: middle;
  }
  .content{
    max-width:960px; 
    max-height: 1000px;
    overflow-y: scroll;
    background-color:rgb(232, 252, 250); 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;
    text-align: center;
  }
  table{
    border: 1px solid #eee;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
  }
  table th {
    font-weight: bold;
    padding: 5px;
    background: #d3d3d3;
    border: 1px solid #dddddd;
  }
  table td{
    height: 100px;
    padding: 5px 10px;
    border: 1px solid #eee;
  }
  table tbody tr:nth-child(odd){
    background: #fff;
  }
  table tbody tr:nth-child(even){
    background: #f3efef;
  }
  #forms{
    max-width:960px; 
    max-height: 1000px;
    overflow-y: scroll;
    background-color:rgb(229, 231, 216); 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;
    text-align: center;
  }
  .formContent{
    margin-top: 10px;
  }
  map{
    display: inline;
  }